@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
    body{
        background-color: rgb(160, 160, 160);
       color: #fff;

     }
    header, .inf-block {
        background-color: rgb(0, 0, 0);
    }
    footer{
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: flex-start;
    }
   .neon {
         font-size: 36px; 
         color: black ;
         text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff, 0 0 100px #ffffff, 0 0 150px #ffffff;
         text-align: center;
        }
        .main{
            display: flex;
            flex-direction: row;
            gap: 2rem;
            padding: 1rem;
            margin: 0 auto;
            max-width: 900px;
        } 
        .inf-block{
            padding: 0.5rem 1rem ;
            flex-basis: 300px;
        } 
        @media(max-width:600px) {
           .main
           {flex-direction:column;}
           .inf-block{flex-basis: 300px;}
             
        }
        header, footer{
            padding: 1rem;
        }
        p{
            font-family: 'Ubuntu Condensed', sans-serif;
            font-size: 25px;
            width: 100px;
            margin: auto;
            text-align: center;
        }
        h1{
            font-family: 'Oswald', sans-serif;
            font-size: 35px;
        }
        
        .ending{
            font-family: 'Oswald', sans-serif;
            color: black ;
            text-shadow: 0 0 10px #aaaaaa, 0 0 20px #aaaaaa, 0 0 30px #aaaaaa, 0 0 40px #aaaaaa, 0 0 70px #ffffff, 0 0 80px #ffffff, 0 0 100px #ffffff, 0 0 150px #ffffff;
        }
        
        img{
            width: 100%;
        }

        a{
            display: flex;
            justify-content: center;
            color: darkgray; 
        }